@model TurriAdventures.Entities.Temporada

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Temporada</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DescripcionTemporada" class="control-label"></label>
                <input asp-for="DescripcionTemporada" class="form-control" />
                <span asp-validation-for="DescripcionTemporada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicioTemporada" class="control-label"></label>
                <input asp-for="FechaInicioTemporada" class="form-control" />
                <span asp-validation-for="FechaInicioTemporada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFinalTemporada" class="control-label"></label>
                <input asp-for="FechaFinalTemporada" class="form-control" />
                <span asp-validation-for="FechaFinalTemporada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioTemporada" class="control-label"></label>
                <input asp-for="PrecioTemporada" class="form-control" />
                <span asp-validation-for="PrecioTemporada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
